<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Contact me!</h1>
                <p class="lead fw-normal text-muted mb-0">Fill the form below!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm" method="POST" action="{{ path('home') }}">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control {% if form_errors['name'] is defined %}is-invalid{% endif %}" id="name" type="text" name="name" placeholder="Enter your name...">
                            <label for="name">Full name</label>
                            {% if form_errors['name'] is defined %}
                                <div class="invalid-feedback">{{ form_errors['name'] }}</div>
                            {% endif %}
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control {% if form_errors['email'] is defined %}is-invalid{% endif %}" id="email" type="email" name="email" placeholder="name@example.com">
                            <label for="email">Email address</label>
                            {% if form_errors['email'] is defined %}
                                <div class="invalid-feedback">{{ form_errors['email'] }}</div>
                            {% endif %}
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control {% if form_errors['message'] is defined %}is-invalid{% endif %}" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                            <label for="message">Message</label>
                            {% if form_errors['message'] is defined %}
                                <div class="invalid-feedback">{{ form_errors['message'] }}</div>
                            {% endif %}
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
