<header class="py-5">
    <div class="container px-5 pb-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                        <div class="text-uppercase">Xavier Lauer</div>
                    </div>
                    <div class="fs-3 fw-light text-muted">The developer</div>
                    <h1 class="display-3 fw-bolder mb-5">
                        <span class="text-gradient d-inline">YOU NEED!</span>
                    </h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-center mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{{ assets('files/resume/xlauer_resume_2021.pdf') }}" target="_blank" rel="noopener noreferrer">Click here to view Resume</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7">
                <!-- Header profile picture-->
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="profile bg-gradient-primary-to-secondary d-flex align-items-center">
                        <img
                            class="profile profile-img w-75 h-75 mt-0"
                            src="{{ assets('images/Image_CV.jpg') }}"
                            alt="Logo"
                            style="bottom: unset !important;"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
