<footer class="py-4" style="margin-left: 250px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h6>Admin Xavier's Blog</h6>
                <p class="text-muted">This is a blog created by Xavier Lauer for educational purposes.</p>
            </div>
        </div>
    </div>
</footer>
