<nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column vh-100 position-fixed" style="width: 250px;">
    <a class="navbar-brand" href="{{ path('/admin/') }}">Admin Xavier's Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="adminNavbar">
        <ul class="navbar-nav flex-column w-100">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/posts">
                    <i class="bi bi-journal-text"></i>
                    Auth Tokens
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">
                    <i class="bi bi-tags"></i>
                    Comments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <i class="bi bi-people"></i>
                    Comment Approvals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Comment Deletions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Comment Editions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Posts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Post Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Post Editions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Post Editions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Post Publishings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="bi bi-chat-left-text"></i>
                    Users
                </a>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link" href="/">
                    <i class="bi bi-box-arrow-right"></i>
                    Return to the blog
                </a>
            </li>
        </ul>
    </div>
</nav>
